@using AlpineHub.Core.ViewModels.PassPeriod
@model IEnumerable<PeriodViewModel>
@{
    ViewData["Title"] = "Manage Pass Periods";
    Layout = "_ManagerLayout";

}


<div class="container-fluid py-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <!-- Page Title -->
        <h1>@ViewBag.Title</h1>

        <!-- Add New Slope Button -->
        <a class="btn btn-success" asp-area="" asp-controller="ManagePassPeriods" asp-action="AddPeriod">
            <i class="fas fa-plus"></i> Add New Period
        </a>
    </div>

    <!-- Slopes Table -->
    <div class="table-responsive text-center">
        <table class="table table-hover">
            <thead class="">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Start time</th>
                    <th scope="col">End time</th>
                    <th scope="col">Days valid</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var period in Model)
                {
                    <tr>
                        <td hidden>@period.Id</td>
                        <td>@period.Name</td>
                        <td>@period.ValidFromTime</td>
                        <td>@period.ValidToTime</td>
                        <td>@period.DaysCount</td>
                        <td>
                            <a class="btn btn-sm btn-warning" asp-area="" asp-controller="ManagePassPeriods" asp-action="EditPeriod" asp-route-id="@period.Id">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                            <button class="btn btn-sm btn-danger delete-period-button">
                                <i class="fas fa-edit"></i> Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<partial name="_DeleteConfirmationModalContainer" />