@using AlpineHub.Core.ViewModels.Lift

@model IEnumerable<AllLiftsViewModel>
@{
    ViewData["Title"] = "Lift status";
}
<h1 class="text-center py-5 mt-5">@ViewData["Title"]</h1>
<div class="container">
    <table class=" table-responsive table table-striped table-borderless custom-table">
        <thead class="table-info">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Status</th>
                <th>Ascend Time (min)</th>
                <th>Opening Hours</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lift in Model)
            {
                <tr>
                    <td>@lift.Name</td>
                    <td>@lift.Type</td>
                    <td>
                        @if (lift.IsOpen)
                        {
                            <span class="badge bg-success">Open</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Closed</span>
                        }
                    </td>
                    <td>@lift.AscendTime</td>
                    <td>@lift.OpeningHours</td>
                </tr>
            }
        </tbody>
    </table>
</div>