@using AlpineHub.Core.Contracts
@using AlpineHub.Core.ViewModels.Lift
@using AlpineHub.Core.ViewModels.LiftType
@using AlpineHub.Core.ViewModels.Slope
@using AlpineHub.Core.ViewModels.User
@model IDeleteViewModel

<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header bg-danger text-white">
            <h5 class="modal-title" id="deleteSlopeModalLabel">Delete Confirmation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- Modal Body -->
        <div class="modal-body">
            <p>Are you sure you want to delete <strong>@Model.Name</strong>?</p>
            <p class="text-danger">This action cannot be undone.</p>
        </div>

        <!-- Modal Footer -->
        <div class="modal-footer">
            @switch (Model.GetType().Name)
            {
                case nameof(DeleteSlopeViewModel):
                    <form asp-controller="ManageSlopes" asp-action="ConfirmDeleteSlope" method="post">
                        @Html.AntiForgeryToken();
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="Name" />
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                    break;
                case nameof(DeleteLiftViewModel):
                    <form asp-controller="ManageLifts" asp-action="ConfirmDeleteLift" method="post">
                        @Html.AntiForgeryToken();
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="Name" />
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                    break;
                case nameof(DeleteUserViewModel):
                    <form asp-area="Admin" asp-controller="Users" asp-action="ConfirmDeleteUser" method="post">
                        @Html.AntiForgeryToken()
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="Name" />
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                    break;
                case nameof(DeleteLiftTypeViewModel):
                    <form asp-controller="ManageLifts" asp-action="ConfirmDeleteLiftType" method="post">
                        @Html.AntiForgeryToken()
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="Name" />
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                    break;
            }
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

        </div>
    </div>
</div>

